<section class="swade-targeted-damage resolved-damage">
    <div class="swade-targeted-damage-result-message">
        <p class="swade-targeted-damage-result-message-text">{{{message}}}</p>
    </div>
    <details>
        <summary>
            {{localize 'SWADETargetedDamage.Result.Details'}}
        </summary>
        <section class="swade-targeted-damage-group">
            <h4 class="swade-targeted-damage-group-heading">{{localize 'SWADETargetedDamage.Result.ResolvedDamage'}}</h4>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Dmg'}}</h5>
                <p class="swade-targeted-damage-data-value">{{damage}}</p>
            </section>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Ap'}}</h5>
                <p class="swade-targeted-damage-data-value">{{ap}}</p>
            </section>
        </section>
        {{#if isAdjusted}}
        <section class="swade-targeted-damage-group">
            <h4 class="swade-targeted-damage-group-heading">{{localize 'SWADETargetedDamage.Result.RolledDamage'}}</h4>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Dmg'}}</h5>
                <p class="swade-targeted-damage-data-value">{{rolledDamage}}</p>
            </section>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Ap'}}</h5>
                <p class="swade-targeted-damage-data-value">{{rolledAP}}</p>
            </section>
        </section>
        {{/if}}
        {{#if toughness}}
        <section class="swade-targeted-damage-group">
            <h4 class="swade-targeted-damage-group-heading">{{localize 'SWADETargetedDamage.Result.TargetDefenses'}}</h4>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Tough'}}</h5>
                <p class="swade-targeted-damage-data-value">{{toughness}}</p>
            </section>
            <section class="swade-targeted-damage-data-used">
                <h5 class="swade-targeted-damage-data-heading">{{localize 'SWADE.Armor'}}</h5>
                <p class="swade-targeted-damage-data-value">{{armor}}</p>
            </section>
        </section>
        {{/if}}
    </details>

</section>
