<form>
    <fieldset>
        <legend>{{localize 'SWADETargetedDamage.AdjustDamage'}}</legend>
        <div class="form-group">
            <label for="damage">{{localize 'SWADE.Dmg'}}</label>
            <input type="number" name="damage" id="damage" value="{{object.damage}}" autofocus>
        </div>
        <div class="form-group">
            <label for="ap">{{localize 'SWADE.Ap'}}</label>
            <input type="number" name="ap" id="ap" value="{{object.ap}}">
        </div>
    </fieldset>

    {{{object.message}}}

    {{#if (eq object.statusToApply 'wounded')}}
    {{#if (and object.user.isGM (gt object.user.bennies 0))}}
    <button type="button" class="benny-gm-soak" name="benny-gm-soak" data-is-reroll="{{object.attemptedSoak}}">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.GMBenny"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.GMBenny"}}
        {{/if}}
    </button>
    {{/if}}
    {{#if (gt object.token.actor.bennies 0)}}
    <button type="button" class="benny-soak" name="benny-soak">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.Benny"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.Benny"}}
        {{/if}}
    </button>
    {{/if}}
    <button type="button" class="free-soak" name="free-soak">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.Free"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.Free"}}
        {{/if}}
    </button>
    <button type="button" class="take-wounds" name="take-wounds">
        {{localize "SWADETargetedDamage.Button.TakeWounds" wounds=object.woundsText}}
    </button>
    {{/if}}
    {{#if (eq object.statusToApply 'shaken')}}
    <button type="button" class="apply-shaken" name="apply-shaken">
        {{localize "SWADETargetedDamage.Button.ApplyShaken"}}
    </button>
    {{/if}}
    {{#if (eq object.statusToApply 'none')}}
    <button type="button" class="no-damage" name="no-damage">
        {{localize "Close"}}
    </button>
    {{/if}}
</form>