<div class="targeted-damage-applicator-footer">
    <p>{{{object.message}}}</p>

    {{#if (eq object.statusToApply 'wounded')}}

    {{#if (and object.user.isGM (gt object.user.bennies 0))}}
    <button type="button" class="benny-gm-soak" name="benny-gm-soak" data-action="bennyGMSoak" data-is-reroll="{{object.attemptedSoak}}">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.GMBenny"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.GMBenny"}}
        {{/if}}
    </button>
    {{/if}}

    {{#if (gt object.token.actor.bennies 0)}}
    <button type="button" data-action="bennySoak">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.Benny"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.Benny"}}
        {{/if}}
    </button>
    {{/if}}

    <button type="button" data-action="freeSoak">
        {{#if object.attemptedSoak}}
        {{localize "SWADETargetedDamage.Button.Soak.Reroll.Free"}}
        {{else}}
        {{localize "SWADETargetedDamage.Button.Soak.Free"}}
        {{/if}}
    </button>
    <button type="button" data-action="takeWounds">
        {{localize "SWADETargetedDamage.Button.TakeWounds" wounds=object.woundsText}}
    </button>

    {{/if}}

    {{#if (eq object.statusToApply 'shaken')}}
    <button type="button" data-action="applyShaken">
        {{localize "SWADETargetedDamage.Button.ApplyShaken"}}
    </button>
    {{/if}}

    {{#if (eq object.statusToApply 'none')}}
    <button type="button" data-action="noDamage">
        {{localize "Close"}}
    </button>
    {{/if}}
</div>
